<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head.html :: head"></div>
    <title>Подключение банка</title>
    <link th:href="@{/css/login_style.css}" rel="stylesheet"/>

</head>
<body>
<div class="box">
    <div style="text-align: center;" class="my-3">
        <img height="100vh" style="border-radius: 2px" th:src="@{/bank-logo/tinkoff-rectangle.png}">
    </div>
    <h2 class="mb-5">Название банка</h2>

    <div class="container">
        <form class="mt-4" onsubmit="sendData(event);">
            <div class="inputBox">
                <input type="tel" name="telephone" id="telephone"
                       pattern="^((\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" value="+7" required
                       onkeyup="this.setAttribute('value', this.value);">
                <label>Номер телефона</label>
            </div>

            <div class="inputBox" style="visibility: hidden">
                <input type="password" name="telephone" id="bank-passport" value="" required
                       onkeyup="this.setAttribute('value', this.value);">
                <label>Пароль от интернет-банка</label>
            </div>

            <div class="inputBox" style="visibility: hidden">
                <input type="text" name="telephone" id="smsCode" value=""
                       pattern="^[\d]{4}$"
                       required onkeyup="this.setAttribute('value', this.value);">
                <label>СМС-Код</label>
            </div>

            <input type="submit" name="sign-in" id="submitButton" value="Подключить" disabled>
        </form>

    </div>
</div>
</body>
</html>

<div th:insert="fragments/baseScripts.html :: baseScript"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    let operation_ticket = "";
    // $('#telephone').bind('input', function(){
    $('#telephone').blur(function () {
        const template = "^((\\+7)[\\- ]?)?(\\(?\\d{3}\\)?[\\- ]?)?[\\d\\- ]{10}$";
        const pattern = new RegExp(template, "i");


        if (pattern.test($('#telephone').val())) {
            $('#telephone').prop('disabled', true);
            $.ajax({
                url: '/tinkof/auth/initregister',
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify({phone: $('#telephone').val()}),
                success: function (response) {
                    operation_ticket = response.operationTicketId;
                    $('#bank-passport').css('visibility', 'visible');
                    $('#smsCode').css('visibility', 'visible');
                    $('#submitButton').prop('disabled', false);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }
    });


    function sendData(e) {
        e.preventDefault(); // don not refresh the page

        $.ajax({
            url: "/tinkof/auth/finalregister",
            method: 'POST',
            contentType: "application/json",
            data: JSON.stringify({
                sms: $('#smsCode').val(),
                password: $('#bank-passport').val(),
                operationTicket: operation_ticket,
            }),
            success: function (response) {
                console.log("ВСЕ ОКЕЙ")
                console.log(response)
            },
            error: function (response) {
                console.log("Чето пошло не так...")
            }
        })

    }
</script>