<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Финасовые Цели</title>
    <div th:insert="fragments/head.html :: head"></div>
    <script src="https://cdn.plot.ly/plotly-2.15.0.min.js"></script>
</head>
<body id="page-top">
<!-- navbar-->
<div th:insert="fragments/navbar.html :: navbar"></div>


<!-- content-->
<section class="page-section my-4" id="portfolio">
        <select id="cat-select" class="form-select" aria-label="Default select example">
            <option selected>Категории</option>
            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.categoryName}">
        </select>


        <div id="myDiv">

        </div>
</section>

<!--Footer-->
<div th:insert="fragments/footer.html :: footer"></div>
<div th:insert="fragments/baseScripts.html :: baseScript"></div>

</body>
</html>


<script>

    function createBarData(categoryName, x, y) {
        return {
            x: x,
            y: y,
            hovertemplate: '<b>' + categoryName + '</b>' +
                '<br>%{y:.0f} ₽<br><extra></extra>',
            name: categoryName,
            type: 'bar'
        }
    }
</script>

<script>
    function addBar(categoryName, x, y, chartName) {
        data.push(createBarData(
            categoryName,
            x,
            y
        ))
        var layout = {barmode: 'group'};
        selected.push(categoryName);
        $('#cat-select option:contains(' + categoryName + ')').remove()
        Plotly.newPlot(chartName, data, layout, {displayModeBar: false});
    }
</script>

<script>
    // INPUT DATA

    selected = []
    var data = [];
    var layout = {barmode: 'group'};
    Plotly.newPlot('myDiv', data, layout, {displayModeBar: false});


    addBar(
        "Супермаркеты",
        ['2022-06-01', '2022-07-01', '2022-08-01'],
        [1000, 2000, 3000],
        "myDiv"
    )

</script>



<script>
    addBar("Транспорт",
        ['2022-05-01', '2022-06-01', '2022-07-01'],
        [3000, 4000, 5000],
        "myDiv"
    )
</script>
