<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <style>
    .report-card {
      border-radius: 10px;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
      transition: all 0.2s;
      background: radial-gradient(#bbf8ad, #ecf693);
    }

    .report-card:hover {
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
      transform: scale(1.01);
    }

    .card__icon {
      grid-row: 2/3;
      font-size: 30px;
    }

  </style>
  <title>Отчет</title>
  <div th:insert="fragments/head.html :: head"></div>
</head>

<body id="page-top">

<!-- content-->
<div class="container mt-2 d-flex flex-column">
  <div class="card report-card">
    <!--    Icon-->
    <!--    <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
    <div class="card-body">
      <div style="text-align: center; font-weight: bold;">Отчет <br> [[${month}]] [[ ${year} ]]</div>
    </div>
  </div>

  <div class="row d-flex align-items-stretch flex-wrap" style="flex-shrink: 0;">
    <div class="col d-flex">
      <div class="card report-card mt-4 flex-fill">
        <div class="card-body">
          Income: <span id="income"></span>  </td>
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card report-card mt-4 flex-fill">
        <div class="card-body">
          Spend: <span id="spend"></span>
        </div>
      </div>
    </div>
  </div>


  <div class="row d-flex align-items-stretch flex-wrap" style="flex-shrink: 0;">
    <div class="col d-flex">
      <div class="card report-card mt-4 flex-fill">
        <div class="card-body">

          <table class="table">
            <tbody>
            <tr>
              <th scope="row">Обязательные платежи</th>
              <td><span id="requirePayments">считаю...</span></td>
              <td><span id="requirePaymentsPercent">считаю...</span></td>
            </tr>
            <tr>
              <th scope="row">Отложено</th>
              <td>
                <span id="saved">считаю...</span>
              <td><span id="savedPercent">считаю...</span></td>
              </td>

            </tr>
            <tr>
              <th scope="row">Остальное</th>
              <td>
                <span id="other">считаю...</span>
              </td>
              <td><span id="otherPercent">считаю...</span></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card report-card mt-4 flex-fill">
        <div class="card-body">
          <div style="text-align: center; font-weight: bold">Статистика</div>
          <table class="table">
            <tbody>
            <tr>
              <th>Самая большая трата</th>
              <td>
                <span id="biggestPayment">считаю...</span>
              </td>
            </tr>
            <tr>
              <th>Потрачено в среднем в день</th>
              <td>
                <span id="averagePerDay">считаю...</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card report-card mt-4">
    <div class="card-body">
      <div style="text-align: center; font-weight: bold;">Распределение трат</div>

      <div class="row">
        <div class="col">
          <canvas id="myChart" width="100" height="100"></canvas>
        </div>
        <div class="col">
          <p>Вы можете нажать на категорию, чтобы узнать больше</p>
          <div class="d-flex">
            <!--            <div th:each="{name} : ${categoryNames}">-->
            <!--              <li> [[name]] </li>-->
            <!--            </div>-->
          </div>

          <table class="table">
            <tbody id="categoryTable">
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="card report-card mt-4">
    <div class="card-body">
      <div style="text-align: center; font-weight: bold;">Место для анализа или комментария</div>
      <div class="form-group">
        <textarea class="form-control" id="comment" rows="4">[[${comment}]]</textarea>
        <span style="font-weight: lighter"
              id="commentStatus">Чтобы сохранить комментарий, кликните в другую область</span>
      </div>
    </div>
  </div>

</div>

<div th:insert="fragments/baseScripts.html :: baseScript"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.min.js"
        integrity="sha512-zjlf0U0eJmSo1Le4/zcZI51ks5SjuQXkU0yOdsOBubjSmio9iCUp8XPLkEAADZNBdR9crRy3cniZ65LF2w8sRA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/pallete.js}"></script>


<script th:inline="javascript">
  let spend_in_category_labels = []
  let spend_in_category_id = []
  /*<![CDATA[*/

  /*[# th:each="item : ${categoryNames}"]*/
  spend_in_category_labels.push(/*[[${item}]]*/);
  /*[/]*/
  /*[# th:each="item : ${categoryIds}"]*/
  spend_in_category_id.push(/*[[${item}]]*/)
  /*[/]*/

  /*]]>*/
</script>

<script th:inline="javascript">
  $('#comment').blur(function () {
    $.ajax({
      url: '/report/save-comment/[[${year}]]/[[${monthNum}]]',
      method: 'POST',
      contentType: "application/json",
      data: JSON.stringify({comment: $(this).val()}),
      success: function (response) {
        $('#commentStatus').html("Сохранено")
      },
      error: function (response) {
        $('#commentStatus').html("Что-то пошло не так")
      }
    });
  });
</script>

<script>
  function showPercentage(analysisPercentage) {
    for (let [key, value] of Object.entries(analysisPercentage)) {
      let result = `${value.toFixed(4) * 100}%`;
      $(`#${key}`).html(result);
    }
  }

  function createRow(categoryName, amount, id) {
    let percent = (amount / analysis.spend) * 100;
    return `<tr onclick="document.location='/category-history/${id}'">
                  <th>${categoryName}</th>
                  <td>${toCurrency(amount, "RUB", 'Ru-ru')}</td>
                  <td>${percent.toFixed(2)}%</td>
            </tr>`
    }

  </script>


  <script th:inline="javascript">

    const toCurrency = (n, curr, LanguageFormat = undefined) =>

            Intl.NumberFormat(LanguageFormat, {style: 'currency', currency: curr}).format(n);

    let analysis = {
      income: [[${analysis.income}]],
      spend: [[${totalSpend}]],
      requirePayments: [[${analysis.requirePayments}]],
      saved: [[${analysis.saved}]],
      other: [[${analysis.other}]],
      biggestPayment: {
        amount: [[${analysis.biggestPayment.amount}]],
        name: [[${analysis.biggestPayment.description}]],
      },
      averagePerDay: [[${analysis.averagePerDay}]]
    };

    for (let [key, value] of Object.entries(analysis)) {
      let result = '';
      if (key == "biggestPayment") {
        result = `${toCurrency(value.amount, "RUB", 'Ru-ru')}, ${value.name}`;
      } else {
        result = toCurrency(value, "RUB", 'Ru-ru')
      }
      $(`#${key}`).html(result);
    }

    let analysisPercentage = {
      requirePaymentsPercent: analysis.requirePayments / analysis.spend,
      savedPercent: analysis.saved / analysis.spend,
      otherPercent: analysis.other / analysis.spend,
    }
    showPercentage(analysisPercentage);


    const ctx = document.getElementById('myChart');


    /*<![CDATA[*/
    let spend_in_category = [[${categoryAmounts}]];
    /*]]>*/

    for (let i = 0; i < spend_in_category_labels.length; i++) {
      $('#categoryTable').append(createRow(spend_in_category_labels[i], spend_in_category[i], spend_in_category_id[i]));
    }

    const data = {
      labels: spend_in_category_labels,
      datasets: [{
        data: spend_in_category,
        backgroundColor: palette('tol', spend_in_category.length).map(function (hex) {
          return '#' + hex;
        }),
        hoverOffset: 4
      }]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: {
      plugins: {
        legend: {
          display: false,
        }
      }
    }
  };
  const myChart = new Chart(ctx, config);
</script>
</body>
</html>


